# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

almosov_lab1_2021/almosov_lab1_2021.sln

almosov_lab1_2021/.vs/

almosov_lab1_2021/x64/

almosov_lab1_2021/almosov_lab1_2021.vcxproj

almosov_lab1_2021/almosov_lab1_2021.vcxproj.filters

almosov_lab1_2021/almosov_lab1_2021.vcxproj.user

almosov_lab1_2021/data
